import PropTypes from 'prop-types'

const {{pascalCase name}} = () => {
  return (
    <div>
      Empty Page
    </div>
  )
}

{{pascalCase name}}.propTypes = {

}

{{pascalCase name}}.defaultProps = {

}

export default {{pascalCase name}}
