.subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
  margin: 1rem 0;

  .input, .button {
    padding: 1rem 2rem;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    font-size: 1.25rem;
    line-height: 1.5;
  }

  .input {
    flex: 1 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    &:focus {
      border-color: #0070f3;
      box-shadow: none;
      outline: none;
    }
  }

  .button {
    font-weight: 700;
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    transition: color 0.15s ease, border-color 0.15s ease, background-color 0.15s ease;

    &:hover {
      cursor: pointer;
      background: #0070f3;
      color: #ffffff;
    }
  }
}
